body {
    margin: 0px;
    padding: 0px;
    background-color: #f6f0f9;
    width: 100%;
}

.cabecalho-tela4 {
    position: relative;
    display: flex;
    margin-left: 5%;
    width: 90%;
    margin-top: 20px;
}

.iconVoltar {
    width: 20px;

}

.voltarTelaProdutos {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.3s ease;
    width: 180px;
}

.voltarTelaProdutos:hover {
    background-color: #ecd9ff;
}

.mainPrincipal-tela4 {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
    height: 78vh;
    min-height: 450px;
}

.painelLoginAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 25px;
}

form {
    padding: 25px;
    border: 2px solid;
    border-color: #dcdcfc;
    border-radius: 10px;
    row-gap: 10px;
}
.hTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 10px;
}

.boxCadeado {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #ecd9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCadeado {
    width: 50px;
    border: none;
}

.tituloPainel {
    font-size: 20px;
    color: #511b9e;
    margin: 0;
    text-align: center;
    width: 100%;
}

input {
    padding: 8px 12px;
    width: 93%;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dcdcfc;
}

.botaoEntrar {
    width: 100%;
    background: linear-gradient(to right ,#511b9e, #b474fc);
    color: white;
    transition: filter 0.3s ease;
    border-radius: 8px;
    margin-top: 10px;
}

.botaoEntrar:hover {
    background: #511b9e;
    transition: filter 0.3s ease;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: #5a14a4;
    color: rgb(175, 175, 175);
    margin-top: 116px;
}

.hFooter {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: #740ce4;
    width: 85%;
    margin-top: 50px;
    color: #c17ca1;
    min-width: 25%;
    flex-wrap: wrap; 
    gap: 40px;
    column-gap: 345px;
}

.primeiraParte {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 200px;
}

.nomeMarca-2 {
    margin: 0;
    color: #d6cfed;
}

.msg-2 {
    margin: 0;
}

.zap {
    width: 25px;
}

.insta {
    width: 20px;
}
.segundaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    min-width: 200px;
}

.entreEmContato {
    margin: 0;
}

.redesSociais {
    display: flex;
    column-gap: 20px;
    margin: 0;
    padding: 0;
}   

.whatsapp {
    margin-top: 1px;
    display: flex;
    gap: 10px;
    color: #c17ca1;
    text-decoration: none;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #c17ca1;
    text-decoration: none;
}

.terceiraParte {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
    gap: 5px;
    min-width: 200px;
}


.horarioAtendimentoTitulo {
    margin: 0;
}

.diasAtendimento {
    margin: 0;
}

.horarioDeAtendimento {
    margin: 0;
}

.fFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #c17ca1;
    margin-top: 20px;
}

.msgFinal {
    margin: 0;
}


.direitosAutorais {
    text-align: center;
}

.admin {
    color: rgba(255, 255, 255, 0.192);
    text-decoration: none;
    padding-bottom: 5px;
}

.alerta-erro {
    background-color: #ffdddd;
    color: #b10000;
    border: 1px solid #ff8c8c;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}